{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="super_container">
	
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/shop_background.jpg' %}"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Technological Blog</h2>
		</div>
	</div>
	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_posts d-flex flex-row align-items-start justify-content-between">
						{% for blog_post_details in get_blog_post_details  %}						
						<!-- Blog post -->
						<div class="blog_post">
							<div class="blog_image">
							<img src="{{ blog_post_details.blog_photo.url }}"  alt="Image" class="img-fluid">	
							</div>
							<div class="blog_text">{{ blog_post_details.blog_text }}</div>
							<div class="blog_button"><a href="blog_single.html">Continue Reading</a></div>
						</div>
						{% endfor %}
					</div>
				</div>
					
			</div>
		</div>
	</div>
	
	{% endblock %}