<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="registration" method='POST'>
        <div class="container">
          <h1>Register</h1>
        {% csrf_token %}
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="username" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          {% comment %} <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw_repeat" required> {% endcomment %}
         
          <button type="submit" class="registerbtn">Register</button>
        </div>
      </form>
</body>
</html>